* {
  margin: 0;
}

/* Header */
header {
  height: 150px;
  background-color: #4ea0ff;
  background-image: url(../img/pattern.png);
  color: white;
}

#the {
  margin-left: 70px;
  font-size: 30px;
}

#booleaner {
  font-size: 70px;
  padding-top: 0;
}

/* Main */
section {
  margin-top: 40px;
}

#titolo-articolo {
  font-size: 100px;
}

#scritto-da {
  font-size: 30px;
  color: grey;
}

#autore-articolo {
  color: #43b7e9;
  font-weight: bold;
}

#data-articolo {
  font-size: 20px;
  color: grey;
}

.img-inizio-pag {
  width: 1100px;
  height: 900px;
}

.descrizione-img {
  font-size: 20px;
  font-weight: bold;
}

p,
ul {
  font-size: 50px;
}

p {
  margin-top: 20px;
}

ul {
  margin-top: 70px;
}

table {
  font-size: 50px;
}

.primacol {
  width: 700px;
  padding-left: 0;
}

.secondacol {
  width: 700px;
}

table {
  margin-top: 70px;
  margin-bottom: 50px;
}

thead {
  background-color: #20a9e5;
  color: white;
}

.riga-pari {
  background-color: #b1e5f2;
}
